body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    margin-bottom: -14px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
main h1{
    text-align: center;
    font-size: 2.5em;
    color: #3f5f3b;
}
.hotels{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
}
.hotel-card{
    margin:1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 7px #ebebeb;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hotel-card:hover{
    box-shadow: 5px 5px 15px 7px #D2D2D2;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hotel-img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hotel-name-location, .info {
    padding: 1rem;
}
.name{
    font-size: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.price-info{
    font-size: 20px;
}
button{
    width: 7rem;
    height: 3.5rem;
    border: none;
    border-radius: 20px;
    background-color: #e3f3c0;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-weight: bold;
}
button:hover{
    background-color: #74af55;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}